trigger:
- main

variables:
  # Sensitive values should be set as pipeline secrets, not here!
  KAFKA_REST_CLIENT_SSL_KEYSTORE_PASSWORD: $(KAFKA_REST_CLIENT_SSL_KEYSTORE_PASSWORD)
  KAFKA_REST_CLIENT_SSL_TRUSTSTORE_PASSWORD: $(KAFKA_REST_CLIENT_SSL_TRUSTSTORE_PASSWORD)

jobs:
- deployment: DeployKafka
  displayName: Deploy to Kafka Deployment Group
  environment: Kafka-QA
  pool:
    name: Kafka-qa-deployment
  strategy:
    runOnce:
      deploy:
        steps:
        - checkout: self
        - task: CopyFiles@2
          displayName: 'Copy files to target'
          inputs:
            SourceFolder: '$(System.DefaultWorkingDirectory)'
            Contents: |
              deployment_script.sh
              docker-compose.yml
            TargetFolder: '$(System.DefaultWorkingDirectory)'
        - task: Bash@3
          displayName: 'Run deployment script with secrets'
          inputs:
            targetType: 'inline'
            script: |
              export KAFKA_REST_CLIENT_SSL_KEYSTORE_PASSWORD=$(KAFKA_REST_CLIENT_SSL_KEYSTORE_PASSWORD)
              export KAFKA_REST_CLIENT_SSL_TRUSTSTORE_PASSWORD=$(KAFKA_REST_CLIENT_SSL_TRUSTSTORE_PASSWORD)
              chmod +x ./deployment_script.sh
              ./deployment_script.sh
