version: '3'
services:
  kafka:
    image: confluentinc/cp-kafka:latest
    container_name: kafka
    network_mode: host
    restart: always
    environment:
      KAFKA_BROKER_ID: "${KAFKA_BROKER_ID}"
      KAFKA_ZOOKEEPER_CONNECT: "${KAFKA_ZOOKEEPER_CONNECT}"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "${KAFKA_LISTENER_SECURITY_PROTOCOL_MAP}"
      KAFKA_LISTENERS: "${KAFKA_LISTENERS}"
      KAFKA_ADVERTISED_LISTENERS: "${KAFKA_ADVERTISED_LISTENERS}"
      KAFKA_INTER_BROKER_LISTENER_NAME: "${KAFKA_INTER_BROKER_LISTENER_NAME}"
      KAFKA_SSL_KEYSTORE_FILENAME: "${KAFKA_SSL_KEYSTORE_FILENAME}"
      KAFKA_SSL_KEYSTORE_CREDENTIALS: "${KAFKA_SSL_KEYSTORE_CREDENTIALS}"
      KAFKA_SSL_KEY_CREDENTIALS: "${KAFKA_SSL_KEY_CREDENTIALS}"
      KAFKA_SSL_TRUSTSTORE_FILENAME: "${KAFKA_SSL_TRUSTSTORE_FILENAME}"
      KAFKA_SSL_TRUSTSTORE_CREDENTIALS: "${KAFKA_SSL_TRUSTSTORE_CREDENTIALS}"
      KAFKA_SSL_CLIENT_AUTH: "${KAFKA_SSL_CLIENT_AUTH}"
      KAFKA_LOG4J_LOGGERS: "${KAFKA_LOG4J_LOGGERS}"
      KAFKA_DELETE_TOPIC_ENABLE: "${KAFKA_DELETE_TOPIC_ENABLE}"
      KAFKA_DEFAULT_REPLICATION_FACTOR: "${KAFKA_DEFAULT_REPLICATION_FACTOR}"
      KAFKA_AUTHORIZER_CLASS: "${KAFKA_AUTHORIZER_CLASS}"
      KAFKA_SUPER_USERS: "${KAFKA_SUPER_USERS}"
    volumes:
      - /data/kafka/vol3/kafka-data:/var/lib/kafka/data
      - /data/kafka/vol4/secrets:/etc/kafka/secrets
      # plus your log4j jars as needed

  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    container_name: zk
    network_mode: host
    restart: always
    environment:
      ZOOKEEPER_SERVER_ID: "${KAFKA_BROKER_ID}"
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_LIMIT: 2000
      ZOOKEEPER_INIT_LIMIT: 5
      ZOOKEEPER_SYNC_LIMIT: 2
      ZOOKEEPER_SET_ACL: "true"
      ZOOKEEPER_SERVERS: "${ZOOKEEPER_SERVERS}"
    volumes:
      - /data/kafka/vol1/zk-data:/var/lib/zookeeper/data
      - /data/kafka/vol2/zk-txn-logs:/var/lib/zookeeper/log

  kafdrop:
    image: obsidiandynamics/kafdrop:latest
    container_name: kafdrop
    restart: always
    ports:
      - "9000:9000"
    environment:
      ZOOKEEPER_CONNECT: "${KAFKA_ZOOKEEPER_CONNECT}"
      KAFKA_BROKERCONNECT: "${KAFKA_BROKER_CONNECT}"
      JVM_OPTS: "-Xms32M -Xmx64M"
      SERVER_SERVLET_CONTEXTPATH: "/"

  rest:
    image: confluentinc/cp-kafka-rest:latest
    container_name: rest
    network_mode: host
    restart: always
    environment:
      KAFKA_REST_HOST_NAME: "${KAFKA_REST_HOST_NAME}"
      KAFKA_REST_BOOTSTRAP_SERVERS: "${KAFKA_REST_BOOTSTRAP_SERVERS}"
      KAFKA_REST_ZOOKEEPER_CONNECT: "${KAFKA_REST_ZOOKEEPER_CONNECT}"
      KAFKA_REST_LISTENERS: "${KAFKA_REST_LISTENERS}"
      KAFKA_REST_SCHEMA_REGISTRY_URL: "${KAFKA_REST_SCHEMA_REGISTRY_URL}"
      KAFKA_HEAP_OPTS: "${KAFKA_HEAP_OPTS}"
      KAFKA_REST_SECURITY_PROTOCOL: "${KAFKA_REST_SECURITY_PROTOCOL}"
      KAFKA_REST_SSL_PROTOCOL: "${KAFKA_REST_SSL_PROTOCOL}"
      KAFKA_REST_CLIENT_SSL_KEYSTORE_PASSWORD: "${KAFKA_REST_CLIENT_SSL_KEYSTORE_PASSWORD}"
      KAFKA_REST_CLIENT_SSL_TRUSTSTORE_PASSWORD: "${KAFKA_REST_CLIENT_SSL_TRUSTSTORE_PASSWORD}"
      KAFKA_REST_CLIENT_SSL_KEYSTORE_LOCATION: "${KAFKA_REST_CLIENT_SSL_KEYSTORE_LOCATION}"
      KAFKA_REST_CLIENT_SSL_TRUSTSTORE_LOCATION: "${KAFKA_REST_CLIENT_SSL_TRUSTSTORE_LOCATION}"
    volumes:
      - /data/kafka/vol4/secrets:/etc/kafka/secrets
      - /data/kafka/log4j_1x_lib/empty-jar.jar:/usr/share/java/confluent-common/log4j-1.2.17.jar
      - /data/kafka/log4j_1x_lib/log4j-1.2-api-2.17.0.jar:/usr/share/java/confluent-common/log4j-1.2-api-2.17.0.jar
      - /data/kafka/log4j_1x_lib/log4j-api-2.17.0.jar:/usr/share/java/confluent-common/log4j-api-2.17.0.jar
      - /data/kafka/log4j_1x_lib/log4j-core-2.17.0.jar:/usr/share/java/confluent-common/log4j-core-2.17.0.jar
      - /data/kafka/log4j_1x_lib/empty-jar.jar:/usr/share/java/kafka-rest/log4j-1.2.17.jar
      - /data/kafka/log4j_1x_lib/log4j-1.2-api-2.17.0.jar:/usr/share/java/kafka-rest/log4j-1.2-api-2.17.0.jar
      - /data/kafka/log4j_1x_lib/log4j-api-2.17.0.jar:/usr/share/java/kafka-rest/log4j-api-2.17.0.jar
      - /data/kafka/log4j_1x_lib/log4j-core-2.17.0.jar:/usr/share/java/kafka-rest/log4j-core-2.17.0.jar